__pycache__/
*.pyc
*.pth
*.pt
*.npy
*.npz
*.tif
*.tiff
*.jpg
*.png
*.csv
*.sqlite
.ipynb_checkpoints/
.env
.DS_Store
runs/
wandb/
outputs/
checkpoints/
OUT_ROOT/**
*.tif
*.tiff
*.geojson
*.shp
*.gpkg
*.npy
*.png
labels_master.csv
